@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

html, body {
    height: 100vh;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #1A2C4A;
    background-color: #F5F7FA;
}

.body{
  position: absolute;
  left:10%;
    height: 100%;
    width: 90%;
}
/*header*/
.header {
    position: relative;
    background-color: #F5F7FA;
    color: #1A2C4A;
    display: flex;
    top: 0;
    bottom: 0;
}

.intro{
   /*flex: 1 1 50%;*/

    margin: 10%;

    /*font-style: italic;*/
    /*font-size: 1.5rem;*/
    line-height: 1;
    display: flex;

    flex-direction: column;
    /*align-items: center;*/
    /*align-content:center;*/
    /*justify-content: flex-start;*/
  /*  text-shadow: 2px 2px 4px #F64C72;*/
}

.intros{
  flex: 1 1 50%;
}

.hello{
  /*  flex: 100%;*/
  transition: all 1.2s ease-out 0.2s;
  font-weight: 900;
  font-size: 2em;
  line-height: 0;
}

.hello:hover{
    text-shadow: 2px 2px 4px #2C4C7C;
    /*font-size: 1.8rem;*/
}

.full-stack{
    transition: all 1.2s ease-out 0.2s;
    /*display: flex;

    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;*/
    font-size: 2em;
    line-height: 0;
    /*align-content:flex-start;*/
    /*justify-content: flex-start;*/
}
.full-stack:hover{
    text-shadow: 2px 2px 4px #2C4C7C;
}
.open-nav{
    top:10px;
    /*bottom: 10px;*/
    margin: 10px;
    padding: 10px;
    position: absolute;
   /* color: #FFF;*/
    background-color: transparent;
    border:none;

    font-size: 1.5rem;
    font-weight: 700;
}

.scroll{
    bottom: 10px;
    margin: 10px;
    padding: 10px;
    position: absolute;
    transform: rotate(90deg);
}
.scroll-right{
    bottom: 10px;
    margin: 10px;
    right: 10px;
    padding: 10px;
    position: absolute;
    transform: rotate(90deg);
}

hr {
  border-top: 1px solid #5D93C7;
  margin-left: 0;
  width: 25%; 
}
.intro-content{

    width: 50%;
    font-size: 1.2em;
 /* display: block;*/

}
.my-profile{
  flex: 1 1 50%;
  display: flex;

  flex-direction: row;
  align-items: flex-start;
  align-content:flex-start;
  justify-content: flex-end;
}

.profile-pic{
  /*flex: 1 1 50%;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;*/
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 10px solid #A8C7E5;
}

/*Button*/
.button {
  display: inline-block;
  padding:0.5em 1.5em;
  width: calc(15% - 20px);
  box-sizing: border-box;
  background-color: #5D93C7;
  color: #FFFFFF;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  text-align:center;
  transition: all 0.2s;
  border-radius: 2em;
}
.button:hover{
  background-color: #2C4C7C;
}

@media all and (max-width:30em) {
  .button{
    display: block;
    margin: 0.2em auto;
  }
}

/*sidebar*/
.sidebar{
    top:0px;
    bottom: 0px;
    width: 10%;
    left:0px;
    background-color: #1A2C4A;
    box-shadow: 2px 2px 7px #E4E8ED;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-content: center;
    color: #F5F7FA;
}

.sidebar ul {

   /* text-align: center;*/
   list-style-type: none;
   /* flex-direction: row;*/

  }

.sidebar li {
    font-weight: 100;
    letter-spacing: 2px;
    /*color: #FFF;*/
    flex: 100%;
    width: 100%;
   /* height: 15vh;*/
    /*padding: 20px;*/
  }

  .sidebar li.brand{
   /* top: 0px;*/

    margin: 0;
    padding: 0;
    /*padding: 20px;*/
    flex: 100%;
   /* background-color: #553D67;*/
    font-size: 1.5rem;
}
.brand{
    /* top: 0px;*/
    /*color: #FFF;*/
    /* margin: 0;
     padding: 0;
     /*padding: 20px;*/
     flex: 1 1 100%;
   /*  background-color: #171972;*/
     font-size: 1.5rem;
     width: 100%;

     display: flex;
   /* flex-direction: row;*/

    align-items: center;
    justify-content: center;
    /*align-content: center;*/
 }
 .nav-links{
   /* color: #FFF;*/
    flex: 1 1 300%;
    display: flex;
    flex-direction: column;

    /*align-items: center;*/
    /*justify-content: center;*/
    width: 100%;
    margin-top: 100%;
    margin-bottom: 100%;
 }
 .links{

     /*padding: 25%;*/
    /* border: 1px solid #553D67;*/
     flex: 1 1 100%;
     width: 100%;
     display: flex;
     align-items: center;
    justify-content: center;



 }
 .social-media{
    /*color: #FFF;*/
    flex: 1 1 200%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    width: 100%;
    width: 100%;
 }
 .span{
     color: #5D93C7;
     box-shadow:2px 2px 7px #E4E8ED;
 }

a{
  color: #1A2C4A;
  text-decoration: none;
}

.sidebar a{
  color: #F5F7FA;
}

/*cotnact*/
.get-in-touch,
.about,
.portfolio{
  position: relative;
  /*margin: 10%;*/
  top: 0;
  bottom: 0;
  height: 100vh;

}
.contact{
  /*background-color:lightgrey;*/
  padding: 2rem 12rem;
  border-radius: 1rem;
  width: 50%;
}
.textarea{

  grid-column: span 2;
}
input,
textarea{
  margin: 10px;
  width: 100%;
  padding: 10px;
  background-color: #E4E8ED;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #1A2C4A;
}
input{
  height: 2rem;
}
textarea{
  height: 4rem;
}
form,
.about{
  box-sizing: border-box;

  /*background-color: hsl(0, 0%, 100%);*/
  /*border: 4px solid hsl(0, 0%, 90%);*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  /*justify-items: center;*/
  justify-content: center;
  align-items: center;
}
h4{
  font-size: 2em;
}
.skills{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 25% 75%;
  /*gap: 1rem;*/
  /*padding: 1rem;*/
  /*justify-items: center;*/
  /*justify-content: center;
  align-items: center;*/
  background-color: #5D93C7;
  color: #F5F7FA;
  /*overflow: hidden;*/
  font-size: 0.8rem;
  font-weight: 900;
}
.my-skills{
  height:30vh;
  width: 100%;
  /*padding: 1rem;*/
  /*margin:1rem;*/
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

}
.skill{
  flex: 1 1 100%;
  width: 100%;
  background-color: #E4E8ED;
  color: #1A2C4A;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  text-indent: 1rem;
  /*margin: 1rem;*/
}
.skill-content{

  max-width: 100%;
  width: 90%;
  /*margin: 1rem;*/
  padding: 1rem;
}
.skill-progress{
  height:24px;
  width:80%;
  background-color: #2C4C7C;
}
.projects{
  display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    width: 100%;
}
.project{
  height:30vh;
  width:60%;
  background-color: #5D93C7;
  color: #F5F7FA;
  margin: 2rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.portfolio{
  background-color: #A8C7E5;
}
.about{
  background-color: #2C4C7C;
  color: #F5F7FA;
}
.get-in-touch{
  background-color: #5D93C7;
  color: #F5F7FA;
  display: flex;
  align-items: center;
  justify-content: center;
}

.abouts{
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  margin: 2rem;
}
.project-img{
  width: 100%;
}
.project-image{
  max-width:100%;
max-height:100%;
height: 100%;
}

/*my button*/
.about-button {
  display: inline-block;
  padding:1.25em 1.5em;
  width: calc(40% - 20px);
  box-sizing: border-box;
  background-color: #5D93C7;
  color: #FFFFFF;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  text-align:center;
  transition: all 0.2s;
}
.about-button:hover{
  background-color: #2C4C7C;
}

@media all and (max-width:30em) {
  .about-button{
    display: block;
    margin: 0.2em auto;
  }
}

form{
  /*width: 60%;*/
}
